:root{
    --primary-color:#95d687 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} 
body{
    font-family: sans-serif;
    background: var(--primary-color) url(bg.png)no-repeat top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header .index_fixed{
    background-color: var(--primary-color);
}
header .clearfix{
    display: fixed;
    margin-top: -50px;
    width: 100vw;
    height: 13px;
    background: url(line.png);
}
.back-to-top img{
    right: 25px;
    bottom: 25px;
    position: fixed;
    z-index: 15;
}
.menu ul{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
.menu ul li a span{
    color: rgb(48, 37, 37);
    padding: 0 30px;
}
.menu ul li a span:hover{
    color: white;
    padding: 0 30px;
    background-color:#184425;
}
.search form input{
    height: 25px;
    border: 2px;
    padding-left: 10px;
    border-color: black;
    border-radius: 5px;
    position: relative;

}
.search form button{
    position: absolute;
    margin-left: -20px;
    margin-top: 3px;
    border: none;
    cursor: pointer;
}
#xmove{
    display: flex;
    justify-content: center;
}
#page-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#contain-center{
    width: 80%;
    height: 340vh;
    margin-top: 0vh;
    background: white;
    z-index: -1;
    display: flex;
    justify-content: center;
}
#wrap-index{
    width: 105%;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 12%;
}
#wrap-index img{
    height: 110%;
    width: 40vw;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}
#image2 img{
    clip-path: none;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%)
}
#wrap-index div{
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    font-weight: 600;
    height: 30vh;
    width: 25vw;
    text-align: left;
    color: #509950;
}
h3{
    font-family: 'Dancing Script';
    font-size: 50px;
    font-style: italic;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.1;
    color: #184425;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
#wrap-index div:nth-child(2){
    text-align: none;
    text-align: right;
}
#wrap-index button{
    width: 90px;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: #55b041;
    border: none;
    margin-top: 20px;
}
.wrap__news{
    display: flex;
    width: 200px
}
#global__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#global__title h3{
    padding: 2%;
}
.item{
    padding: 5% 5%;
}
.item img{
    border-radius: 5px;
}
.item h4 a{
    font-family: Arial, Helvetica, sans-serif;
    color: #509950;
    font-weight: 500;
    font-size: large;
}
.item .xemthem{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}
.item:hover .xemthem{
    visibility: visible;
    opacity: 100%;
}
.item:hover .xemthem{
    transform: translateY(-90px);
}
.doitac-title{
    width: 100vw;
    height: 12vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#branch{
    display: flex;
    padding: 0 15vw;
    justify-content: space-around;
    background-color: white;
}
#line-footer{
    width: 100vw;
    height: 5vh;
    background: url(line.png);
}
#main-footer{
    display: flex;
    justify-content: space-around;
    padding: 10vh 10vw;
    background-color: var(--primary-color);
}
#copyright{
    height: 4vh;
    padding-top: 7px;
    font-size: small;
    text-align: center;
    color: white;
    background-color: #1dbe1d;
}
.menu ul li.menu1{
    position: relative;
}
.menu ul li.menu1 ul.menu2{
    position: absolute;
    font-size: 90%;
    color: rgb(179, 165, 165);
    background-color: #184425;
    width: 145px;
    height: 185px;
    padding: 5px 0px;
    border: 1px solid #95d687;
    display: flex;
    flex-direction: column;
    display: none;
}
.menu ul li.menu1 ul.menu2 li{
    padding: 6px 0px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.menu ul li.menu1 ul.menu2 li:hover span{
    color: azure;
}
.menu ul li.menu1:hover ul.menu2{
    display: block;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px) {
    .menu ul li{
        font-size: 20px;
        padding-left: 50px;
    }
    .menu{
        height: 30vh;
        width: 100vw;
    }

}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .menu ul{
        position: fixed;
        width: 100%;
        height: 120vh;
        background: #2ab057;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    .menu ul li{
        display: block;
        padding-top: 50px;
    }
    .menu ul li a{
        font-size: 20px;
        font-weight: bolder;
    }
    #check:checked~ul{
        left: 0;
    }
}
@media (max-width: 575px) {
    .checkbtn{
        display: block;
        left: 0%;
    }
    .menu ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2ab057;
        top: 100px;
        left: -100%;
        transition: all .5s;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menu ul li{
        display: block;
        margin-top: 20px;
        padding-top: 100px;
    }
    .menu ul li a{
        font-size: 30px;
        font-weight: bolder;
    }
    #check:checked~ul{
        left: 0;
    }
  
}





